/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #FFF;
    text-align: center;
}

/* HEADER */
header {
    width: 100%;
    height: 320px;
    background: #000000;
}

/* CONTAINER */
.container {
    width: 1216px;
    margin: -160px auto 0 auto; /* sobe metade do header */
    background: #FFFFFF;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
}

/* Logo */
.logo {
    width: 200px;
}

/* Título */
.container h1 {
    font-size: 24px;
    color: #0066B3;
    font-weight: bold;
}

/* Texto */
.container p {
    font-size: 16px;
    color: #695C56;
}

/* Botões */
.buttons {
    display: flex;
    gap: 20px; /* controla espaço entre os botões */
}

.buttons a {
    display: inline-block;
    text-decoration: none;
}

.buttons img {
    width: 200px;
    cursor: pointer;
    transition: 0.2s;
    display: block; /* evita caracteres invisíveis abaixo da imagem */
}

.buttons img:hover {
    transform: scale(1.03);
}

/* Rodapé */
footer {
    margin-top: 60px;
    padding: 20px;
    font-size: 14px;
    color: #695C56;
}

