/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Topo */
header {
    background-color: #005CA9;
    padding: 20px;
}

.logo {
    width: 200px;
	margin-top: 40px; /* adiciona espaço para centralizar melhor */
}

/* Título */
.titulo-app {
    font-size: 28px;
    margin-top: 30px;
    color: #000;
    font-weight: bold;
}

/* Botões de download */
.botoes-app {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn-app img {
    width: 140px;
    transition: transform 0.2s ease-in-out;
}

/* Efeito hover suave (sem distorção) */
.btn-app:hover img {
    transform: scale(1.03);
}

/* Rodapé */
footer {
    background-color: #005CA9;
    color: white;
    padding: 20px 10px;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: none;
}

/* © 2025 CAIXA Pré-Pagos (em negrito e sublinhado) */
footer .copyright span {
    font-weight: bold;
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .btn-app img {
        width: 120px;
    }

    .logo {
        width: 130px;
    }

    .titulo-app {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .btn-app img {
        width: 110px;
    }

    .logo {
        width: 120px;
    }

    .titulo-app {
        font-size: 20px;
    }

    footer {
        font-size: 12px;
    }
}
